<div id="splash_title">
	PONG
</div>
<div x-mojo-element="Button" id="start_game_button"></div>
<div class="palm-group">
	<div id="splash_difficulty_title" class="palm-group-title">
		Slide for difficulty + Game Mode
	</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper row-slider">
				<div x-mojo-element="Slider" id="splash_slider" class="palm-slider" name="splash_slider"></div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div id="splash_gameModeSelector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div id="splash_bg_title" class="palm-group-title">
		Choose colour scheme
	</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<div id="splash_bgSelector" x-mojo-element="ListSelector"></div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div id="splash_instructions_title" class="palm-group-title">
		Instructions
	</div>
	<div class="palm-list">
		<div class="palm-row single pong-row-instructions">
			<div class="palm-row-wrapper">
				<div class="title">
					Tilt the device<br />or<br />Use the Q and P buttons
				</div>
				<div class="title">
					Tap screen to pause the game
				</div>
			</div>
		</div>
	</div>
</div>